.pagination{
    text-align: center;
    font-size: 3rem;
    
    
}
.pagination a {
    border:2px solid gainsboro;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
    color: black;
    border-radius: 5px;
}

.pagination a.active{
    background-color: chartreuse;
}

.pagination a:hover:not(.active){
    background-color: rgb(143, 103, 103);
   
}

